body {
  font-family:sans-serif;
  margin: 5%;
  background-color: rgb(221, 228, 252);
  padding: 2%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav a:link, nav a:visited, nav a:hover, nav a:active {
  color: hotpink;
  background-color:aliceblue;
  border-radius: 25px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

nav {
  width: 200px;
  height: 100%;
  margin: 2%;
  align-content: center;
  color: white;
  text-align: center;
  border: none;
  padding: 2%;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  top: 0; 
  left: 0;
  float: left;
}

.portfolio {
  margin-left: 35%;
  max-width: 100%;
  height: auto;
  width: auto\9; 
  position: relative;
}
