body {
  font-family:sans-serif;
  margin: 5%;
  background-color: rgb(221, 228, 252);
  padding: 2%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav a:link, nav a:visited, nav a:hover, nav a:active {
  color: hotpink;
  background-color:aliceblue;
  border-radius: 25px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;

}

.navbar {
  width: 200px;
  height: 100%;
  margin: 2%;
  align-content: center;
  color: white;
  text-align: center;
  border: none;
  padding: 2%;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  top: 0; 
  left: 0;
}

.main {
  margin-left: 25%;
  max-width: 75%;
  text-align: left;
  height: auto;
  width: auto\9; 
  position: relative;
}

ol {
  list-style-type:lower-roman;
  list-style-position: inside;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

.avatar-shape {
  border-radius: 50%;
  object-fit: cover;
  border:solid aliceblue;
  padding: 10px;
  border-width: 10px;
  box-sizing: border-box;
}

p.indent {
  margin-left: 25%;
  max-width: 50%;
  text-align: left;
  height: auto;
  width: auto\9; 
  position: relative;
}

.column {
  width: 25%;
  float: left;
  padding: 10px;
  margin: 10px;
  border: solid aliceblue;
  text-align: left;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 25px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

input[type=submit] {
  background-color: hotpink;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
  color: hotpink;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: aliceblue;
  padding: 20px;
  margin-left: 25%;
}